APP_NAME=YuktiOptions
ENV=development

DATABASE_URL=
REDIS_URL=

JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

DHAN_CLIENT_ID=
DHAN_ACCESS_TOKEN=